# # .dockerignore
# node_modules
# Dockerfile
# .git
# .gitignore
# .dockerignore
# .env
# # mac m1 오류 로 인해 모두 ignore 하고 ignore안할거만 추가하는 방식으로 바꾸자!

# 1. Ignore everything
**

# 2. Add files and directories that should be included
!public/**
!src/**
!package.json
!package-lock.json
!docker-compose.yml
# 3. Bonus step: ignore any unnecessary files that may be inside those allowed directories in 2
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db